<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseAssignServlet</servlet-name>
        <servlet-class>servlet.courseAssignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enrollServlet</servlet-name>
        <servlet-class>servlet.enrollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcourseServlet</servlet-name>
        <servlet-class>servlet.addcourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseAssignServlet</servlet-name>
        <url-pattern>/courseAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enrollServlet</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcourseServlet</servlet-name>
        <url-pattern>/addcourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
